{{#categories}}

<li class="layout__item    u-1-of-5">

    <a class="drop-down__heading" href="{{url}}">{{title}}</a>

    <ul class="list-bare">

        <li>

            <a class="drop-down__link" href="/level-3-item">Level 3 Item</a>

        <!-- /li -->

        <li>

            <a class="drop-down__link" href="/level-3-item">Level 3 Item</a>

        <!-- /li -->

        <li>

            <a class="drop-down__link" href="/level-3-item">Level 3 Item</a>

        <!-- /li -->

        <li>

            <a class="drop-down__link" href="/level-3-item">Level 3 Item</a>

        <!-- /li -->

        <li>

            <a class="drop-down__link" href="/level-3-item">Level 3 Item</a>

        <!-- /li -->

    </ul><!-- /.list-bare -->

<!-- /li.layout__item -->

{{/categories}}
