/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/

/**
 * Container with max-width for ensuring content width is restricted uniformly
 * on large screens.
 */

// Disable all variations by default so unneeded items are not included.

$aligent-wrapper-extras: null !default;


.#{$aligent-namespace}wrapper,
%#{$aligent-namespace}wrapper {
    margin: {
        left: auto;
        right: auto;
    }
    max-width: $aligent-max-width;
}


// Generate additonal wrappers

/**
 * Extra wrappers are defined using the syntax:
 *
 * $aligent-wrapper-extras: (
 *     modifier: (
 *         property: value,
 *         property: value,
 *         ...
 *         property: value
 *     )
 * );
 **/


@if $aligent-wrapper-extras != null {

    @each $modifier, $settings in $aligent-wrapper-extras {

        @each $property, $value in $settings {

            .#{$aligent-namespace}wrapper--#{$modifier},
            %#{$aligent-namespace}wrapper--#{$modifier} {
                #{$property}: $value;
            }

        }

    }

}
