/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/

/**
 * Container with max-width for ensuring content width is restricted uniformly 
 * on large screens.
 */

// Disable all variations by default so unneeded items are not included.

$aligent-enable-wrapper--ph: false !default; // add horizontal padding
$aligent-enable-wrapper--ph-small: false !default; // add half-width horizontal padding
$aligent-enable-wrapper--ph-large: false !default; // add double-width horizontal padding

$aligent-enable-wrapper--large-and-up-ph-small: false !default; // add half-width horizontal padding on large devices


.#{$aligent-namespace}wrapper,
%#{$aligent-namespace}wrapper {
    margin: {
        left: auto;
        right: auto;
    }
    max-width: $aligent-max-width;
}


// Add horizontal padding

@if $aligent-enable-wrapper--ph == true {
    
    .#{$aligent-namespace}wrapper--ph,
    %#{$aligent-namespace}wrapper--ph {
        max-width: $aligent-max-width + 2 * $aligent-spacing-unit-base;
        padding: 0 $aligent-spacing-unit-base;
    }
    
}


// Add small horizontal padding.

@if $aligent-enable-wrapper--ph-small == true {
    
    .#{$aligent-namespace}wrapper--ph-small,
    %#{$aligent-namespace}wrapper--ph-small {
        max-width: $aligent-max-width + 2 * $aligent-spacing-unit-base--small;
        padding: 0 $aligent-spacing-unit-base--small;
    }
    
}


// Add large horizontal padding

@if $aligent-enable-wrapper--ph-large == true {
        
    .#{$aligent-namespace}wrapper--ph-large,
    %#{$aligent-namespace}wrapper--ph-large {
        max-width: $aligent-max-width + 2 * $aligent-spacing-unit-base--large;
        padding: 0 $aligent-spacing-unit-base--large;
    }
    
}


// Add small horizontal padding on large-and-up devices

@if $aligent-enable-wrapper--large-and-up-ph-small == true {

    .#{$aligent-namespace}wrapper--large-and-up-ph-small {

        @include media-query(large-and-up) {
            max-width: $aligent-max-width + 2 * $aligent-spacing-unit-base--small;
            padding: 0 $aligent-spacing-unit-base--small;
        }
        
    }
    
}