/*------------------------------------*\
    #SPECIFIC SETTINGS
\*------------------------------------*/

/**
 * Global settings that have specific uses, such as controlling which classes
 * are output or the design of a particular object or component.
 **/

/**
 * WARNING
 *
 * These settings should rarely be changed directly, as this may have
 * far-reaching consequences. Instead, redefine variables series/group/site
 * level.
 **/


/* = BASE = */

/* == HEADINGS == */

/**
 * 1. Try to ensure the header sizes fit closely to the base spacing and
 *    base font size so they don't require large line heights to conform to the
 *    baseline grid. The last three headers can use the standard font size as
 *    they are rarely used.
 **/

$aligent-h1-settings: (
    color: $aligent-color-brand,
    font-family: $aligent-font-family-base,
    font-size: 2 * $aligent-line-height-base,    /* [1] */
    font-weight: 300,
    padding: $aligent-spacing-unit-base 0,
    text-align: center
);
$aligent-h2-settings: (
    color: $aligent-color-brand,
    font-family: $aligent-font-family-base,
    font-size: 2 * $aligent-font-size-base,    /* [1] */
    font-weight: normal
);
$aligent-h3-settings: (
    color: $aligent-color-brand,
    font-family: $aligent-font-family-base,
    font-size: $aligent-line-height-base,    /* [1] */
    font-weight: normal
);
$aligent-h4-settings: (
    color: $aligent-color-brand,
    font-family: $aligent-font-family-base,
    font-size: $aligent-font-size-base,    /* [1] */
    font-weight: bold,
    text-transform: uppercase
);
$aligent-h5-settings: (
    font-size: $aligent-font-size-base,    /* [1] */
    font-weight: bold,
    text-transform: uppercase
);
$aligent-h6-settings: (
    font-size: $aligent-font-size-base,    /* [1] */
    font-weight: normal,
    text-transform: uppercase
);


/* == PAGE == */

$aligent-page-color-background: $aligent-color-brand;


/* == MAIN == */

$aligent-main-color-background: white;





/* = OBJECTS = */

$aligent-wrapper-extras: (
    content: (
        max-width: 784px,
        padding-bottom: 4 * $aligent-spacing-unit-base
    )
);





/* = TRUMPS = */

/* === DISPLAY HELPERS == */

$aligent-enable-display-helpers-responsive: true;
