/*------------------------------------*\
    #COLOR SCHEMES
\*------------------------------------*/

/**
 * Apply colour combinations.
 **/

$aligent-enable-color-scheme-brand: false !default;
$aligent-enable-color-scheme-brand--light: false !default;
$aligent-enable-color-scheme-brand-reverse: false !default;

$aligent-enable-color-scheme-brand-secondary: false !default;
$aligent-enable-color-scheme-brand-secondary--light: false !default;
$aligent-enable-color-scheme-brand-secondary-reverse: false !default;

$aligent-enable-color-scheme-success: false !default;
$aligent-enable-color-scheme-success-reverse: false !default;

$aligent-enable-color-scheme-warning: false !default;
$aligent-enable-color-scheme-warning-reverse: false !default;

$aligent-enable-color-scheme-danger: false !default;
$aligent-enable-color-scheme-danger-reverse: false !default;

$aligent-enable-color-scheme-gradient: false !default;


// Primary brand colour

@if ($aligent-enable-color-scheme-brand == true) {
    
    .#{$aligent-namespace}color-scheme-brand {
        
        & .#{$aligent-namespace}color-scheme-brand__highlight {
            color: $aligent-color-brand !important;
        }
        
    }
    
    @if ($aligent-enable-color-scheme-brand--light == true) {
      
      .#{$aligent-namespace}color-scheme-brand--light {
          background-color: $sagovua-color-brand--light !important;
      }
      
    }
    
}

@if ($aligent-enable-color-scheme-brand-reverse == true) {
    
    .#{$aligent-namespace}color-scheme-brand-reverse {
        background-color: $aligent-color-brand !important;
        
        &, * {
            color: $aligent-color-text-reverse !important;
        }
        
        .#{$aligent-namespace}color-scheme__highlight {
            color: $aligent-color-brand--light !important;
        }
        
    }
    
}


// Secondary brand colour

@if ($aligent-enable-color-scheme-brand-secondary == true) {
    
    .#{$aligent-namespace}color-scheme-brand-secondary {
        
        & .#{$aligent-namespace}color-scheme__highlight {
            color: $aligent-color-brand-secondary !important;
        }
        
    }
    
    @if ($aligent-enable-color-scheme-brand-secondary--light == true) {
      
        .#{$aligent-namespace}color-scheme-brand-secondary--light
            background-color: $aligent-color-brand-secondary--light
        }
      
    }
    
}

@if ($aligent-enable-color-scheme-brand-secondary-reverse == true) {
    
    .#{$aligent-namespace}color-scheme-brand-secondary-reverse {
        background-color: $aligent-color-brand-secondary !important;
        
        &, * {
            color: $aligent-color-text-reverse !important;
        }
        
        .#{$aligent-namespace}color-scheme__highlight {
            color: $aligent-color-brand-secondary--light !important;
        }
    }
    
}


// Success

@if ($aligent-enable-color-scheme-success == true) {
    
    .#{$aligent-namespace}color-scheme-success {
        background-color: $aligent-color-success--light !important;
        
        & .#{$aligent-namespace}color-scheme__highlight {
            color: $aligent-color-success !important;
        }
    }
    
}

@if ($aligent-enable-color-scheme-success-reverse == true) {
    
    .#{$aligent-namespace}color-scheme-success-reverse {
        background-color: $aligent-color-success !important;
        
        &, * {
            color: $aligent-color-text-reverse !important;
        }
        
        .#{$aligent-namespace}color-scheme__highlight {
            color: $aligent-color-success--light !important;
        }
    }
    
}


// Gradient overlay

@if ($aligent-enable-color-scheme-gradient == true) {
    
    .#{$aligent-namespace}color-scheme-gradient {        
        $color-dark: rgba(0, 0, 0, 0.06);
        $color-light: rgba(255, 255, 255, 0.03);
        $range: 50%;
        
        background-image: radial-gradient( at top left, $color-dark 0, transparent $range),
                            radial-gradient( at bottom right, $color-dark 0, transparent $range),
                            radial-gradient( at top right, $color-light 0, transparent $range),
                            radial-gradient( at bottom left, $color-light 0, transparent $range) !important;
    }
    
}