/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Combine all the SASS components required to compile the main.css file.
 **/





/* = Functions = */

/**
 * Import these first as they can be used within settings
 **/


@import "_functions.color.scss";





/* = Settings = */

/* == Main settings == */

@import "_settings.general.scss";


/* == Variant settings == */

// Settings that are variations on the main settings

@import "_settings.variants.scss";


/* == inuitcss settings == */

@import "inuit-defaults/_settings.defaults.scss";
@import "inuit-responsive-settings/_settings.responsive.scss";
@import "_settings.inuitcss.scss";


/* == Component-specific setting == */

@import "_settings.specific.scss";




/* = Tools and mixins = */

@import "inuit-mixins/_tools.mixins.scss";
@import "inuit-responsive-tools/_tools.responsive.scss";
@import "inuit-tools-widths/_tools.widths.scss";
@import "_tools.mixins.scss";





/* = Resets etc. = */

/* == inuitcss == */

@import "inuit-box-sizing/_generic.box-sizing.scss";
@import "inuit-normalize/_generic.normalize.scss";
@import "inuit-reset/_generic.reset.scss";
@import "inuit-shared/_generic.shared.scss";


/* == Site == */

@import "_generic.forms.scss";
@import "_generic.iframe.scss";





/* = Base styling = */

/* == inuitcss == */


/* == Site == */

@import "_base.fonts.scss";
@import "_base.headings.scss";
@import "_base.main.scss";
@import "_base.page.scss";





/* = Objects = */

/* == inuitcss == */

@import "inuit-box/_objects.box.scss";
@import "inuit-layout/_objects.layout.scss";


/* == Shared == */

@import "_objects.delimited.scss";
@import "_objects.wrapper.scss";





/* = Components = */

/* == Shared == */



/* = Overrides, etc. = */

/* == inuitcss == */

@import "inuit-clearfix/_trumps.clearfix.scss";
@import "inuit-widths/_trumps.widths.scss";
@import "inuit-responsive-widths/_trumps.widths-responsive.scss";


/* == Shared == */

@import "_trumps.display-helpers.scss";
